.calenderOfEvents {
    border-radius: 12px;
    background: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    padding: 32px 16px;
    width: 452px;
    box-sizing: border-box;
    height: 804px;
    font-family: 'almoni';
    .tabsTitle {
        border-radius: 48px;
        background: rgba(0, 68, 56, 0.08);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
        width: max-content;
        height: 44px;
        margin: auto;
        margin-bottom: 24px;

        .title {
            color: #023423;
            font-size: 18px;
            font-weight: 400;
            border: none;
            height: 44px;
            padding:0 20px;

            &:first-child {
                border-top-right-radius: 48px;
                border-bottom-right-radius: 48px;
            }

            &:last-child {
                border-top-left-radius: 48px;
                border-bottom-left-radius: 48px;
            }

            &.tabActive {
                border-radius: 48px;
                background: #4A9462;
                color: white;
                font-weight: 700;
            }
        }
    }
}
@media screen and(max-width:430px) {
    .calenderOfEvents {
        width: 100%;
        height: auto;
        padding-bottom: 12px;
        .tabsTitle{
            .title{
                font-size: 16px;
            }
        }
    }
}