.greeting {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    padding: 24px 16px;
    width: 216px;
    height: 332px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    background-position-y: 22px;
    box-sizing: border-box;
    
    span {
        display: block;
        color:#023423;
        font-family: 'almoni';
        font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
        
        &.bold{
            font-weight: 700;
        }
    }

    .personImg {
        width: 61px;
        height: 61px;
        border-radius: 61px;
    }
    .greetingIcon{
        width: 44px;
        height: 44px;
        display: block;
    }
    .btnSend {
        color: #FFF;
        font-family: 'almoni';
        font-size: 16px;
        font-weight: 700;
        display: flex;
        height: 35px;
        padding: 0 24px;
        align-items: center;
        border: none;
        box-sizing: border-box;
        border-radius: 30px;
        background: #004438;
        margin-top: 18px;
        cursor: pointer;
    }
}