.footer{
    background:#004438;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    .links{
        display: flex;
        gap: 16px;
        align-items: center;
        direction: ltr;
        a{
            display: inline-flex;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}
@media screen and (max-width:430px) {
    .footer{
        height: 50px;
        .links{
            gap: 24px;
        }
    }
}