.album {
    width: max-content;
    text-decoration: none;
}

.album-images {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.small-rectangle, .small-cube, .big-rectangle {
    display: none;
}

.big-cube {
    height: 184px;
    width: 303px;
}

.album-details {
    font-family: 'almoni';
    text-align: center;
    margin-top: 12px;
    display: block;
    text-decoration: none;
}

.album-title {
    color: #004438;
    font-size: 18px;
    font-weight: 700;
}

.album-date {
    color: #023423;
    font-size: 18px;
}

.slider-container .navigationButton {
    position: static;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    &.swiper-button-disabled {
        visibility: hidden;
    }
}

.slider-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.slider-container .swiper-slide {
    width: auto !important;
}



@media screen and (min-width: 430px) {

    .album {
        width: 100%;
    }

    .slider-container .navigationButton {
        display: flex;
    }

    .album-images {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(2, calc(50% - 10px));
        gap: 20px;
        height: 463px;
    }

    .small-rectangle {
        grid-column: 1 / 7;
        grid-row: 1;
        display: block;
    }
    
    .small-cube {
        grid-column: 7 / 11;
        grid-row: 1;
        display: block;
    }
    
    .big-rectangle {
        grid-column: 1 / 11;
        grid-row: 2;
        display: block;
    }
    
    .big-cube {
        grid-column: 11 / 19;
        grid-row: 1 / 3;
        height: auto;
        width: auto;
    }

    .album-details {
        margin-top: 42px;
    }

    .album-title {
        font-size: 26px;
    }
    
    .album-date {
        font-size: 22px;
    }

    .slider-container .swiper-slide {
        width: 100% !important;
    }

}