.ourProjects {
    height: 620px;
    width: 452px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 0px 24px 18px 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    font-family: 'almoni';

    .title {
        color: #004438;
        font-size: 26px;
        font-weight: 400;
        margin: 0 0 24px;
        height: 80px;
        border-bottom: 1px solid #ADADAD;
        display: flex;
        align-items: center;
        font-family: "KoteretOT";
    }

    .projectContainer {
        max-height: 430px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: calc(100% + 16px);
        padding-left: 11px;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #E8E8E8;
            ;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #ADADAD;
            border-radius: 2.5px;
        }
    }

    .noResult {
        color: #004438;
        font-family: 'almoni';
        font-size: 18px;
        font-weight: 400;
    }
}

@media screen and(max-width:430px) {
    .ourProjects {
        height: auto;
        padding: 0 16px 15px;

        .projectContainer {
            max-height: none;
            width: 100%;
            padding: 0;
        }
        .projectListContainer {
            min-height: 302px;
        }
    }
}