.congratulation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: almoni;
  position: relative;
  background: transparent;
  transition: 'background 0.3s ease-in-out';
  max-width: 1396px;
  min-height: 300px;
  margin: auto;

  &.mobile {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border-radius: 12px;
    padding-bottom: 80px;

    .title {
      border-radius: 0px;
    }

    :global {
      .swiper {
        position: static;
      }

      .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
        top: 100%;
        display: flex;
        gap: 10px;
        right: 50%;
        transform: translate3d(50%, -125%, 0);
      }
    }

    .body {
      padding-top: 0;
    }
  }

  .title {
    font-size: 20px;
    background: #044338;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    gap: 20px;

    h3 {
      color: #fff;
      margin: 0;
      font-size: 26px;
      font-weight: 400;
    }

    img {
      flex: 0 auto;
      max-width: 45px;
      filter: invert(1) brightness(1.5);
    }
  }

  .body {
    font-size: 18px;
    padding: 20px 13px 0;

    .congratsSwiper {
      padding: 0;
      padding-inline-end: 8px;
      margin: 0;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #e8e8e8;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #adadad;
        border-radius: 3px;
      }

      .congratsItem {
        display: flex;
        border-bottom: 1px solid #ebebeb;
        align-items: center;
        gap: 12px;
        padding: 28px 0 28px 0;
        flex: 0 auto;
        box-shadow: 0px 0px 30px 0px #00000014;
        flex-direction: column;
        padding: 24px 16px;
        border-radius: 12px;
        margin: 20px 10px;
        margin-bottom: 90px;

        h5 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
        }

        img {
          flex: 0 auto;
          border-radius: 40px;
          max-width: 61px;
          margin-bottom: 24px;
        }

        div {
          flex: 1;
          line-height: 1;
          text-align: center;
        }

        span {
          font-size: 18px;
          font-weight: 500;

          &.date {
            margin-inline-end: 10px;
            font-weight: 700;
            display: block;
            padding-bottom: 20px;
            margin-bottom: 27px;
            position: relative;

            &:after {
              content: "";
              width: 100%;
              height: 2px;
              background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.24) 0.96%,
                rgba(168, 168, 168, 0.24) 48%,
                rgba(255, 255, 255, 0.24) 100%
              );
              display: block;
              border: 0;
              bottom: 0;
              position: absolute;
            }
          }

          &.department {
            color: #757575;
            font-weight: 500;
            margin-bottom: 12px;
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 162px;
          }
        }

        a {
          border: 2px solid #044338;
          border-radius: 15px;
          color: #044338;
          display: inline-block;
          font-size: 16px;
          padding: 0px 12px;
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
        }

        &.noResults {
          height: 100%;
          padding: 0;
          border-bottom: 0;

          span {
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
          }
        }
      }

      .congratsItemMobile {
        display: flex;
        border-bottom: 1px solid #ebebeb;
        align-items: flex-start;
        gap: 12px;
        padding: 17px 0 17px 0;

        h5 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
        }

        img {
          flex: 0 auto;
          border-radius: 40px;
          max-width: 57px;
        }

        div {
          flex: 1;
          line-height: 1.25;
        }

        span {
          font-size: 18px;
          font-weight: 500;

          &.date {
            margin-inline-end: 10px;
            &::after {
              content: " ";
              width: 5px;
              height: 5px;
              display: inline-block;
              background: #044338;
              margin-inline-start: 10px;
              margin-bottom: 2px;
              border-radius: 3px;
            }
          }

          &.department {
            color: #757575;
            font-weight: 500;
          }
        }

        a {
          border: 2px solid #044338;
          border-radius: 15px;
          color: #044338;
          display: inline-block;
          font-size: 16px;
          padding: 0px 12px;
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
          margin-top: 5px;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    flex: 1 100%;
    padding: 20px 20px;
    pointer-events: all;

    a {
      color: #044338;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      width: 100%;
      text-align: end;
      cursor: pointer;

      img {
        margin-inline-start: 8px;
        width: 18px;
        vertical-align: middle;
      }
    }
  }

  :global {
    .swiper-wrapper {
      padding-top: 10px;
      padding-inline-start: 0px;
      pointer-events: none;
    }
  }

  .navigationButtonGreeting {
    display: flex;
    position: absolute;
    top: calc(50% - 24px);
    z-index: 2;
    width: 48px;
    height: 48px;
    border: 1px solid #4d7c71;
    background-color: #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &.hide {
      display: none;
    }

    &:disabled {
      background-color: #ebebeb;
      border: 1px solid #bfbfbf;
      img {
        filter: grayscale(10) brightness(3.5);
      }
    }

    &.prev {
      inset-inline-start: -76px;
    }

    &.next {
      inset-inline-end: -76px;
      transform: scaleX(-1);
    }

    &.listType {
      width: 24px;
      height: 24px;
      top: calc(50% - 27px);

      img {
        width: 8px;
      }

      &.prev {
        inset-inline-start: -39px;
      }

      &.next {
        inset-inline-end: -39px;
      }
    }
  }

  .paginationNum {
    background: #fff;
    border: 1px solid #044338;
    border-radius: 20px;
    color: #044338;
    font-size: 18px;
    line-height: 0.5;
    opacity: 1;
    padding: 15px 0;
    height: 40px;
    min-width: 40px;
    box-sizing: border-box;

    &:global {
      &.swiper-pagination-bullet-active {
        color: #fff;
        background: #004438;
      }
    }

    &:hover {
      background: #00443814;
      color: #044338;
    }
  }
}

.sendCardButton {
  border: 2px solid #004438;
  border-radius: 30px;
  color: #004438;
  font-size: 16px;
  font-weight: 500;
  padding: 2px 12px;
  background-color: #ffffff;
  cursor: pointer;
  pointer-events: all;
}

@media screen and (max-width: 430px) {
  .congratulation {
    .body {
      padding-top: 10px;
      ul {
        height: auto;

        li {
          flex-wrap: wrap;
          padding: 17px 0 17px 0;
          div {
            flex: 1 calc(100% - 72px);
          }

          a {
            margin-inline-start: 67px;
          }
        }
      }
    }

    :global {
      .swiper-pagination {
        gap: 0;
        max-width: 232px;
        overflow: hidden;
        padding-inline-end: 7px;
        display: flex;
        inset-inline: 50%;
        transform: translateX(50%);
        bottom: 22px !important;
        width: fit-content !important;
      }
    }

    .navigationButtonGreeting {
      &.next {
        inset-inline-end: 0;
        transform: scaleX(-1);
        border: none;
        top: calc(100% - 63px);
      }

      &.prev {
        inset-inline-start: 0;
        border: none;
        top: calc(100% - 63px);
      }

      &:disabled {
        background-color: transparent;
      }
    }

    .footer {
      gap: 10px;

      a {
        border: 1px solid #044338;
        flex: 0 50%;
        padding: 5px 0px;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        font-weight: 800;
        font-size: 18px;

        img {
          display: none;
        }
      }

      button {
        background: #044338;
        flex: 0 50%;
        padding: 5px 10px;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        font-weight: 800;
        color: white;
        border: none;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 430px) {
}
