.congratulation {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  overflow: hidden;
  font-family: almoni;

  .title {
    font-size: 20px;
    background: #044338;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    h3 {
      color: #fff;
      margin: 0;
      font-size: 26px;
      font-weight: 400;
    }

    img {
      flex: 0 auto;
      max-width: 45px;
      filter: invert(1) brightness(1.5);
    }
  }

  .body {
    font-size: 18px;
    padding: 20px 13px 0;

    ul {
      padding: 0;
      padding-inline-end: 8px;
      margin: 0;
      height: 322px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #e8e8e8;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #adadad;
        border-radius: 3px;
      }

      li {
        display: flex;
        border-bottom: 1px solid #ebebeb;
        align-items: center;
        gap: 12px;
        padding: 28px 0 28px 0;

        h5 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
        }

        img {
          flex: 0 auto;
          border-radius: 40px;
          max-width: 57px;
        }

        div {
          flex: 1;
          line-height: 1;
        }

        span {
          font-size: 18px;
          font-weight: 600;

          &.date {
            margin-inline-end: 10px;
            font-weight: 500;
            &::after {
              content: " ";
              width: 5px;
              height: 5px;
              display: inline-block;
              background: #044338;
              margin-inline-start: 10px;
              margin-bottom: 2px;
              border-radius: 3px;
            }
          }

          &.department {
            color: #757575;
            font-weight: 500;
          }
        }

        a {
          border: 2px solid #044338;
          border-radius: 15px;
          color: #044338;
          display: inline-block;
          font-size: 16px;
          padding: 0px 12px;
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
        }

        &.noResults {
          height: 100%;
          padding: 0;
          border-bottom: 0;

          span {
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    flex: 1 100%;
    padding: 20px 20px;

    a {
      color: #044338;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      width: 100%;
      text-align: end;
      cursor: pointer;

      img {
        margin-inline-start: 8px;
        width: 18px;
        vertical-align: middle;
      }
    }
  }

  .sendCardButton {
    border: 2px solid #004438;
    border-radius: 30px;
    color: #004438;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 12px;
    background-color: #ffffff;
    cursor: pointer;
  }
}

@media screen and (max-width: 430px) {
  .congratulation {
    .body {
      ul {
        height: auto;

        li {
          flex-wrap: wrap;
          padding: 17px 0 17px 0;
          div {
            flex: 1 calc(100% - 72px);
          }

          a {
            margin-inline-start: 67px;
          }
        }
      }
    }
    .footer {
      gap: 10px;

      a {
        border: 1px solid #044338;
        flex: 0 100%;
        padding: 5px 0px;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        font-weight: 800;
        font-size: 18px;

        img {
          display: none;
        }
      }

      button {
        background: #044338;
        flex: 0 50%;
        padding: 5px 10px;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        font-weight: 800;
        color: white;
        border: none;
        font-size: 18px;
      }
    }
  }
}

.greetingSuccess {
  text-align: center;

  img {
    width: 30%;
  }
}