
  @font-face {
    font-family: "KoteretOT";
    src: url(./KoteretOT-BoldCondensed.ttf)format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: "almoni";
    src: url(./almoni-light-aaa.ttf)format("opentype");
    font-weight: 200;
  }
  @font-face {
    font-family: "almoni";
    src: url(./almoni-regular-aaa.ttf)format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: "almoni";
    src: url(./almoni-bold-aaa.ttf)format("opentype");
    font-weight: 700;
  }