.react-select-search-projects__control {
    border: none !important;
    background-color: transparent !important;

    .react-select-search-projects__placeholder {
        color: #757575;
    }

    .react-select-search-projects__value-container {
        padding: 0;
        font-size: 18px;
    }

    .react-select-search-projects__input-container {
        display: flex;
        width: 333px;

        .react-select-search-projects__input {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 1 !important;
            color: #004438 !important;
        }

        &::after {
            content: none;
        }
    }

    &.react-select-search-projects__control--is-focused {
        border: none !important;
        box-shadow: none;
    }
}

.react-select-search-projects__menu {
    margin-top: 12px !important;
    border-radius: 16px !important;
    border: 1px solid #ADADAD;
    margin-right: -16px !important;
    width: 404px !important;

    .react-select-search-projects__menu-list {
        margin: 8px;
        padding: 0;
        &::-webkit-scrollbar {
            width: 5px;
            background-color: #E8E8E8;
            ;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #ADADAD;
            border-radius: 2.5px;
        }
        .react-select-search-projects__option {
            width: 100%;
            text-align: right;
            border-radius: 10px;
            padding: 8px;
            background: none;
            color:#004438;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 48px;
            margin-bottom: 8px;
            font-size: 18px;
            cursor: pointer;
            &:last-child{
                margin: 0;
            }

            &:hover ,&.react-select-search-projects__option--is-focused {
                border-radius: 8px;
                background: rgba(0, 68, 56, 0.08);

            }
        }
    }
}

@media screen and(max-width:430px) {
    .react-select-search-projects__control {
        .react-select-search-projects__input-container {
            width: 270px;
        }
    }
    .react-select-search-projects__menu{
        width: 310px !important;
    }

}