.searchProjects {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid  #ADADAD;
    box-sizing: border-box;
    display: flex;
    padding: 0 16px 0 8px;
    margin-bottom: 24px;
    align-items: center;
    position: relative;

    &:focus-within {
        outline: auto;
    }

    input {
        border: none;
        width: 100%;
        outline: none;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-text-fill-color: #023423 !important;
            box-shadow: 0 0 0 50px white inset !important;
            -webkit-box-shadow: 0 0 0 50px white inset !important;
        }
    }

    .btnClear {
        border: none;
        background-color: transparent;
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-image: url('../../../assets/icons/xIcon.svg');
        background-size: contain;
        position: absolute;
        left: 8px;
    }

    .btnSearch {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 18px;
        border: none;
        height: 39px;
        width: 39px;
        background-position: center;
        background-image: url('../../../assets/icons/searchIcon.svg');
        cursor: pointer;
        position: absolute;
        left: 8px;
    }
}