.newEmployeesContainer {
  display: flex;
  width: 452px;
  max-width: 100%;
  height: 620px;
  box-sizing: border-box;
  padding: 0px 24px 12px 24px;
  flex-direction: column;
  gap: 14px;
  border-radius: 12px;
  border: 0px solid var(--dark-green, #004438);
  background: #FFF;
  box-shadow: 0px 13px 50px 0px rgba(0, 0, 0, 0.15);

  .slidersButtonsContainer {
    display: flex;
    justify-content: space-between;
  }

  .title {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-bottom: 0.5px solid var(--divider, #ADADAD);
    color: var(--dark-green, #004438);
    text-align: right;
    font-family: KoteretOT;
    font-size: 26px;
    font-weight: 400;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
    height: 100%;

    .itemWrapper {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    .link {
      display: flex;
      height: 44px;
      align-items: center;
      justify-content: end;
      flex-shrink: 0;
      align-self: stretch;
      background-image: url('../../assets/ArrowIcon.svg');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: center left;

      a {
        color: var(--dark-green, #004438);
        text-align: right;
        font-family: almoni;
        font-size: 18px;
        font-weight: 700;
        margin-left: 35px;
        text-decoration: none;
      }
    }
  }

}

@media screen and (max-width:430px) {
  .newEmployeesContainer {
    height: auto;

    .title {
      margin-top: 16px;
      padding-bottom: 16px;
      height: auto;
    }

  }
}