.bringFriendsContainer{
    width: 452px;
    border-radius: 12px;
    background: #FFF;
    /* Cards on white */
    box-shadow: 0px 13px 50px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 452px;
    max-width: 100%;

    height: 338px;
    padding: 0px 24px 12px 24px;
    flex-direction: column;
    gap: 22px;
    height: 338px;
    box-sizing: border-box;
    .title{
        display: flex;
        height: 80px;
        align-items: center;
        gap: 8px;
        flex-shrink: 0; 
        color: var(--dark-green, #004438);
        text-align: right;
        font-family: KoteretOT;
        font-size: 26px;
        font-weight: 400;
        border-bottom: 0.5px solid var(--divider, #ADADAD);
    }
    .description{
        color: var(--text, #023423);
        text-align: center;
        font-family: almoni;
        font-size: 18px;
        font-weight: 400;
        height: 130px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .link{
        background-color: #004438;
        text-align: right;
        font-family: almoni;
        font-size: 20px;
        font-weight: 700;
        border-radius: 33px;
        border: 0px solid var(--dark-green, #004438);
        display: flex;
        height: 50px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 22px;
        box-sizing: border-box;
        
        a{
            text-decoration: none;
            color: var(--white, #FFF);
            width: 100%;
            text-align: center;
        }
    }
}

@media screen and (max-width:430px) {
    .bringFriendsContainer{
      height: auto;
      padding: 0 16px 16px 16px;
      .description{
        -webkit-line-clamp: 3;
        height: 78px;
      }
      .link{
        margin-bottom: 0px;
      }
    }
  }