.backToHomeContainer{
    display: grid;
    align-content: center;
    height: 100%;
    .backToHomeButton{
        height: 25px;
        width: 25px;
        background-image: url('../../assets/icons/white-home-icon-png-21.jpg');
        background-size: cover;
    }
}

