.pending-approval-container{
    height: 178px;
    color: #004438;
    padding: 0px 16px 12px 16px;
    box-sizing: content-box;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    border: 0px solid var( #004438);
    max-width: 100%;
    width: 452px;
    box-sizing: border-box;
  .title{
    font-family: KoteretOT;
    font-weight: 400;
    font-size: 26px;
    padding: 26px 0px;
    border-bottom: #ADADAD solid 1px;
    margin-bottom: 10px
    }
   .exceeded{
    font-size: 18px;
    font-family: 'almoni';
    padding-bottom: 10px;
   } 
   .link{
    display: flex;
    justify-content: flex-end;
     a{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        font-family: 'almoni';
        color: #004438;
        font-weight: 700;
        .arrow-icon{
            background-image: url('../../assets/ArrowIconGreen.png');
            width: 35px;
            height: 35px;
        }
     }
   }
}