.galleries-webpart-wrapper {
    width: 100%;
    padding: 26px 0px 40px;
    direction: rtl;
}

.galleries-container{
    max-width: 1396px;
    margin: 0 auto;
}

.galleries-title {
    color: #004438;
    font-family: 'KoteretOT';
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 33px;
    text-align: start;
    margin: 0 16px 40px;
    padding-bottom: 26px;
    border-bottom: 1px solid #adadad;
}

@media screen and (min-width: 430px) {
    .galleries-webpart-wrapper {
        padding: 70px 20px;
        box-sizing: border-box;
    }

    .galleries-title {
        margin-bottom: 33px;
        text-align: center;
        width: 100%;
        border-bottom: none;
        padding: 0;
    }
}