.thankContainer {
    display: flex;
    width: 452px;
    max-width: 100%;
    height: 260px;
    padding: 0px 24px 12px 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    border-radius: 12px;
    background: #FFF;
    /* Cards on white */
    box-shadow: 0px 13px 50px 0px rgba(0, 0, 0, 0.15);
    height: 260px;
    box-sizing: border-box;

    .title {
        display: flex;
        height: 80px;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        border-bottom: 0.5px solid var(--divider, #ADADAD);
        color: var(--dark-green, #004438);
        text-align: right;
        font-family: KoteretOT;
        font-size: 26px;
        font-weight: 400;
    }

    a {
        text-decoration: none;

        .content {
            display: flex;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            .img {
                width: 147px;
                height: 91px;
                border-radius: 12px;
            }

            .subTitle {
                color: var(--text, #023423);
                text-align: right;
                font-family: almoni;
                font-size: 18px;
                font-weight: 400;
                height: 89px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .link {
        display: flex;
        height: 44px;
        align-items: center;
        justify-content: end;
        flex-shrink: 0;
        align-self: stretch;
        background-image: url('../../assets/ArrowIcon.svg');
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: center left;

        a {
            color: var(--dark-green, #004438);
            text-align: right;
            font-family: almoni;
            font-size: 18px;
            font-weight: 700;
            margin-left: 35px;
            text-decoration: none;
        }
    }
}


@media screen and (max-width:430px) {
    .thankContainer {
        height: auto;
        padding: 0 16px 12px 16px;

        a {
            .content {
                .img {
                    height: 168px;
                }

                .subTitle {
                    height: 168px;
                    -webkit-line-clamp: 7;
                }
            }
        }
    }
}