.myInquiries {
    flex: 1;
    width: 452px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 0px 24px 18px 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    font-family: 'almoni';
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    &.spacious {
        gap: 36px;

        .inquiriesList {
            max-height: 489px;
            gap: 36px;
            height: 489px;
        }

        .noInquiries {
            max-height: 489px;
            height: 489px;
            gap: 36px;
        }
    }

    &.limited {
        gap: 12px;

        .inquiriesList {
            max-height: 380px;
            gap: 12px;
            height: 360px;
        }

        .noInquiries {
            max-height: 380px;
            height: 380px;
            gap: 12px;
        }

        .newForm {
            height: 50px;
            padding-top: 4px;
            box-sizing: border-box;
            background-position-y: 4px
        }
    }

    .title {
        color: #004438;
        font-size: 26px;
        font-weight: 400;
        height: 80px;
        border-bottom: 1px solid #ADADAD;
        display: flex;
        align-items: center;
        font-family: "KoteretOT";
    }

    .inquiriesList {
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding-left: 11px;
        width: calc(100% + 11px);

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #E8E8E8;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #ADADAD;
            border-radius: 2.5px;
        }
    }

    .noInquiries {
        overflow: auto;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #E8E8E8;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #ADADAD;
            border-radius: 2.5px;
        }

        p {
            font-family: "almoni";
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }

        .formSelection {
            font-size: 18px;
            font-weight: 700;
        }

        .allForms {
            display: flex;
            flex-wrap: wrap;
            gap: 12px 16px;

            .form {
                border: 1px solid #ADADAD;
                height: 120px;
                width: 190px;
                background-color: white;
                padding: 16px;
                border-radius: 12px;
                text-decoration: none;
                color: #023423;
                font-family: 'almoni';
                font-size: 18px;
                font-weight: 400;
                box-sizing: border-box;
                display: flex;
                align-items: flex-end;
                background-image: url('../../assets/icons/formIcon.svg');
                background-repeat: no-repeat;
                background-position-x: calc(100% - 16px);
                background-size: 24px;
                background-position-y: 16px;
            }
        }
    }

    .allInquiries {
        color: #004438;
        font-family: "almoni";
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        background-image: url('../../assets/icons/vectorLeftIcon.svg');
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: 24px;
        float: left;
        padding-left: 30px;
        height: 44px;
        justify-content: end;
        align-items: center;
        display: flex;
        background-position-y: center;
    }

    .newForm {
        color: #004438;
        font-family: "almoni";
        font-size: 18px;
        font-weight: 700;
        display: block;
        padding-right: 30px;
        background-image: url('../../assets/icons/plusIcon.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: 24px;
        text-decoration: none;
        border-bottom: 1px solid #ADADAD;
        height: 65px;
    }

}

@media screen and(max-width:430px) {
    .myInquiries {
        height: auto;
        padding: 0 16px 15px;

        &.spacious,
        &.limited {
            gap: 12px;

            .inquiriesList {
                height: auto;
                max-height: initial;
                width: 100%;
                gap: 12px;
            }

            .newForm {
                align-items: center;
                display: flex;
                background-position-y: 16px;
                padding-bottom: 12px;
                box-sizing: border-box;
                height: 70px;
            }
            .noInquiries{
                height: auto;
                max-height: none;
                gap: 12px;
                .allForms{
                    flex-direction: column;
                    gap: 12px;
                    .form{
                        width: 100%;
                        min-height: 58px;
                        background-position-x: calc(100% - 8px);
                        padding: 16px 36px 16px 8px;
                        background-position-y:16px;
                        height: auto;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}