.calendarPanelWrapper {
  display: flex;
  justify-content: center;
  background: url('../../../assets/Group.png'),
    linear-gradient(200deg, rgba(74, 148, 98, 0) 35%, rgba(74, 148, 98, 0.17));

  background-repeat: no-repeat;
  background-position: right top;
  padding: 54px 0px 54px 0px;
}

@media screen and (max-width: 431px) {
  .calendarPanelWrapper {
    padding: 40px 16px;
    background: linear-gradient(200deg, rgba(74, 148, 98, 0) 35%, rgba(74, 148, 98, 0.17));
  }
}
